<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Ross</title>
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/base.css">

</head>

<body class="home">
  <%- include('partials/navbar.ejs'); %>

  <div id="content">
    <div class="container">

      <div class="col s12 center">
        <b>Goal: 30 minutes of cardio on the eliptical machine 4 days a week</b>
        
      </div>

      <div class="col s12 center">
        <div class="input-field">
          <a href="#addWorkoutModal" class="waves-effect waves-light btn-large red darken-2 modal-trigger">ADD WORKOUT
            <i class="material-icons right">fitness_center</i>
          </a>
        </div>
      </div>


      <div id="table-container">
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>Day</th>
              <th>Time of Day</th>
              <th>Distance (km)</th>
              <th>Calories</th>
              <th>Strides</th>
              <th>SPM</th>
              <th>Time (min)</th>
            </tr>
          </thead>
          <tbody>
            <% for (let elem in workoutMap) {  %>
            <tr>
              <td><%=workoutMap[elem].year%></td>
              <td><%=workoutMap[elem].month%></td>
              <td><%=workoutMap[elem].day%></td>
              <td><%=workoutMap[elem].timeOfDay%></td>
              <td><%=workoutMap[elem].distance%></td>
              <td><%=workoutMap[elem].calories%></td>
              <td><%=workoutMap[elem].strides%></td>
              <td><%=workoutMap[elem].spm%></td>
              <td><%=workoutMap[elem].time%></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>

  <!-- ADD WORKOUT MODAL -->
  <div class="modal" id="addWorkoutModal">
    <div class="modal-content">
      <form id="workoutForm" action="/add" method="post">
        <br/><button class="btn red darken-3">Submit</button><br/>

        <div class="input-field">
          <input type="text" value="500" id="distance" name="distance" required />
          <label class="active" for="distance">Distance</label>
        </div>

        <div class="input-field">
          <input type="text" value="45" id="time" name="time" required />
          <label class="active" for="time">Time (mins)</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="month" name="month" required />
          <label class="active" for="month">Month</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="day" name="day" required />
          <label class="active" for="day">Day</label>
        </div>

        <p class="error red-text center-align"></p>
      </form>
    </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script>
    var dt = new Date();

    const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];

    $('#month').val(monthNames[dt.getMonth()]);

    $('#day').val(dt.getDate());

    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.parallax').parallax();
      $('.tabs').tabs();
      $('.tooltipped').tooltip();
      $('.scrollspy').scrollSpy();
      $('.modal').modal();
    });
  </script>

</body>

</html>