<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Ross</title>
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/base.css">

</head>

<body class="home">
  <%- include('partials/navbar.ejs'); %>

  <div id="content">
    <div class="container">

      <div class="col s12 center">
        <b>Goal: 30 minutes of cardio on the eliptical machine 4 days a week</b>
      </div>

      <div class="col s12 center">
        <div class="input-field">
          <a href="#addWorkoutModal" class="waves-effect waves-light btn-large red darken-2 modal-trigger">ADD WORKOUT
            <i class="material-icons right">fitness_center</i>
          </a>
        </div>
      </div>


      <div id="table-container">
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>Day</th>
              <th>Time of Day</th>
              <th>Distance (miles)</th>
              <th>Distance (km)</th>
              <th>Calories</th>
              <th>Strides</th>
              <th>SPM</th>
              <th>Time (min)</th>
            </tr>
          </thead>
          <tbody>
            <% for (let elem in workoutMap) {  %>
            <tr>
              <td><%=workoutMap[elem].year%></td>
              <td><%=workoutMap[elem].month%></td>
              <td><%=workoutMap[elem].day%></td>
              <td><%=workoutMap[elem].timeOfDay%></td>
              <td><%=workoutMap[elem].distance%></td>
              <td><%=((workoutMap[elem].distance)*1.609344).toFixed(2)%></td>
              <td><%=workoutMap[elem].calories%></td>
              <td><%=workoutMap[elem].strides%></td>
              <td><%=workoutMap[elem].spm%></td>
              <td><%=workoutMap[elem].time%></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>


  <!-- ADD WORKOUT MODAL -->
  <div class="modal" id="addWorkoutModal">
    <div class="modal-content">
      <form action="/" method="POST" id="workoutForm">
        <br/><button class="btn grey darken-3">Add workout</button><br/>

        <div class="input-field">
          <input type="text" value="" id="distance" name="distance" required />
          <label class="active" for="distance">Distance</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="calories" name="calories" required />
          <label class="active" for="calories">Calories</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="strides" name="strides" required />
          <label class="active" for="strides">Strides</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="year" name="year" required />
          <label class="active" for="year">Year</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="month" name="month" required />
          <label class="active" for="month">Month</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="day" name="day" required />
          <label class="active" for="day">Day</label>
        </div>

        <div class="input-field">
          <input type="text" value="" id="timeOfDay" name="timeOfDay" required />
          <label class="active" for="timeOfDay">Time of Day</label>
        </div>

        <div class="input-field">
          <input type="text" value="30" id="time" name="time" required />
          <label class="active" for="time">Time (mins)</label>
        </div>

        
        <p class="error red-text center-align"></p>
      </form>
    </div>
  </div>


  <!--   <div id="app">
          {{ message }}
        </div>
        div id="app-4">
          <ol>
            <li v-for="todo in todos">
              {{ todo.year }}
            </li>
          </ol>
        </div>

        <div id="app-5">
          <p>{{ message }}</p>
          <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app-6">
          <p>{{ message }}</p>
          <input v-model="message">
        </div>

        <div id="app-7">
          <ol>
            <todo-item v-for="item in workouts" v-bind:todo="item" v-bind:key="item.month"></todo-item>
          </ol>
        </div> -->
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script>
    var dt = new Date();

    $('#year').val(dt.getFullYear());

    const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];

    $('#month').val(monthNames[dt.getMonth()]);

    $('#day').val(dt.getDate());

    $('#timeOfDay').val(dt.getHours() + ":" + dt.getMinutes());



    var app = new Vue({
      el: '#app',
      data: {
        message: 'Testing out some new stuff on this site (learning Vue!)'
      }
    })

    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString()
      }
    })

    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: 'workoutMap'

      }
    })

    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    })

    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })

    var app7 = new Vue({
      el: '#app-7',
      data: {
        workouts: '<%= workoutMap %>'
      }
    })

    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.parallax').parallax();
      $('.tabs').tabs();
      $('.tooltipped').tooltip();
      $('.scrollspy').scrollSpy();
      $('.modal').modal();
    });
  </script>

</body>

</html>